.rowc :nth-child(odd){
    background-color: #eee;
}

.rowc :nth-child(even){
    background-color: #fff;
}

.greyed{
    background-color: #eee;
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
}

.available{
    background-color: #A7D2A7;
}

.occupied{
    background-color: #FF9494;
}

.required:after {
    content: "*";
    padding-left:1%;
    color: red;
}

