.red {
    color: red;
}

.greyed {
    background-color: #eee;
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
}

.available {
    background-color: #A7D2A7;
}

.occupied {
    background-color: #FF9494;
}

.locked {
    background-color: black;
    color: white;
}

.abstand {
    margin-left: 10px;
    margin-right: 10px;
}