//- This file is üart of Webelexis. Copyright (c) 2015 by G. Weirich
.row
    .col-sm-12
        .panel-heading
            .form-inline
                button.btn.glyphicon.glyphicon-circle-arrow-left(data-bind="click: yesterday" data-toggle="tooltip" title="Zum vorherigen Tag gehen")
                button.btn.glyphicon.glyphicon-circle-arrow-down(data-bind="click: today" data-toggle="tooltip" title="auf Heute gehen")
                button.btn.glyphicon.glyphicon-circle-arrow-right(data-bind="click: tomorrow" data-toggle="tooltip" title="Zum nächsten Tag gehen")            
                input(type="text" style="margin-left:10px;text-align:center;max-width:50%" data-toggle="tooltip" title="Klicken um den Kalender zu öffnen" data-bind='datepicker: {dateFormat: "dd.mm.yy", dayNamesMin: tage, monthNames: monate, monthNamesShort: monateKurz, onSelect: dateChanged}, value: now')
                select(data-bind="options: resources, optionsText: 'display', value: resource, event: {change: loadAppointments}")
        .panel-body
            .row(data-bind="foreach: appointments")
                .col-xs-12.col-sm-6
                    div(data-bind="text: displayText, css: displayClass, click: $parent.expand")
                    .row(data-bind="if:expanded")
                        .form-group.col-xs-12
                            label(for="reason") Grund
                            input.form-control#phone(data-bind="value: reason")
                        .row
                            .col-xs-4
                                button.btn.btn-primary(data-bind="click: $parent.patdetail") Patient
                            .col-xs-4
                                button.btn Löschen
                            .col-xs-4
                                button.btn Konsultation
                        .col-xs-12
                            button.btn.btn-default(data-bind="click: $parent.collapse") Schliessen
                            
                            