//- This file is üart of Webelexis. Copyright (c) 2015 by G. Weirich
.row
    .col-sm-12.col-md-6
     .panel-heading
            #agendaDatum
                span.glyphicon.glyphicon-chevron-left(data-bind="click: yesterday")
                input(type="text" data-bind='datepicker: {dateFormat: "dd.mm.yy", dayNamesMin: tage, monthNames: monate, monthNamesShort: monateKurz, onSelect: dateChanged}, value: now')
                span.glyphicon.glyphicon-chevron-right(data-bind="click: tomorrow")
                button.btn(data-bind="click: today") Heute
                select(data-bind="options: resources, value: resource")
        .panel-body
            .row(data-bind="foreach: appointments")
                .well.well-sm.col-sm-12.col-md-6(data-bind="text: displayText, css: displayClass")