<template>
  <require from="../../forms/searchfield"></require>
  <div>
    <div class="btn-group mb-2" role="group" aria-label="calendar mode">
      <select name="resource" value.bind="bereich" change.trigger="selected()">
        <option repeat.for="rsc of resources">${rsc}</option>
      </select>

      <button type="button" class="btn btn-outline-secondary" t="adapters.month"
        click.delegate="display('month')"></button>
      <button type="button" class="btn btn-outline-secondary" t="adapters.week"
        click.delegate="display('week')"></button>
      <search-field searchtext="Suchen..." result.two-way="searchTriggered"></search-field>
    </div>
    <div ref="cal"></div>
  </div>
</template>
