/* Animation for items that slide in and out */

.slideitem.au-enter-active { 
  animation-name: slideDown;
  animation-duration: 0.4s;
  animation-fill-mode: both; 
  overflow: hidden; 
} 
 
@keyframes slideDown { 
  from { max-height: 0px; } 
  to { max-height: 100%; } 
} 
 
.slideitem.au-leave-active { 
  animation-name: slideUp;
  animation-duration: 0.2s;
  overflow: hidden; 
} 
 
@keyframes slideUp { 
  0% { max-height: 100%; } 
  100% { max-height: 0px; } 
} 
