//- This file is part of Webelexis. Copyright (c) 2015 by G. Weirich
.modal-content
  .modal-header
    h3.h3(data-i18n="global.chpwdHeader")
  .modal-body
    form.form.form-horizontal(data-bind="submit: submitChPwd")
      .form-group
        label.col-xs-4.control-label(for="oldpwd" data-i18n="global.oldPwd")
        .col-xs-8
          input.form-control#oldpwd(type="password" style="width: 100%" data-bind="value: oldPwd")
      .form-group
        label.col-xs-4.control-label(for="newpwd" data-i18n="global.newPwd")
        .col-xs-8
          input.form-control#newpwd(type="password" style="width: 100%" data-bind="value: newPwd")
      .form-group
        label.col-xs-4.control-label(for="reppwd" data-i18n="global.repPwd")
        .col-xs-8
          input.form-control#reppwd(type="password" style="width:100%" data-bind="value: repPwd")
      button.btn.btn-primary#chpwd_send(type="submit" data-i18n="global.send")
      button.btn.btn-default(data-bind="click: close" data-i18n="global.cancel")



