//- This file is part of Webelexis. Copyright (c) 2015 by G. Weirich
.modal-content
  .modal-header
    h3(data-i18n="m.login.pwdDlgHeader")
  .modal-body
    p(data-i18n="m.login.pwdDlgExplain")
    form.form(data-bind="submit: submitSendPwd")
      .form-group
        label(for="mailaddr" data-i18n="m.login.mailaddr")
        input.form-control(style="width: 100%" type="email" id="mailaddr" data-bind="value: email")
      button.btn.btn-primary(type="submit" id="mail_send" data-i18n="global.send")
      button.btn.btn-default(data-bind="click: close" data-i18n="global.cancel")
