$primary-color: #64b5f6;
$accent-color: #2979ff;

body {
  margin: 0;
}

.chips{
  padding: 0px;
  margin: 0px;
  border: solid 2px black;
  border-radius: 15px 25px;
  width: 100%;
  font-size: larger;
  overflow: hidden;
  white-space:nowrap;
  span{
    vertical-align:top;
    text-align:right;
  }
  img{
    width: 30%;
  }
}

.badges{
  position:absolute;
  bottom:0px;
  right: 0px;
  background-color: lighten($primary-color, 20%);
  color: black;
  width: 2rem;
  padding-right: 5px;
  border-radius: 15px 0px 0px 15px;
}
.chipcontents {
  border: solid 1px blue;
  padding: 5px;
  width: 100%;
  background-color: lighten($primary-color, 20%);
  border-radius: 20px;
}

.text-paper{
  background-color: lighten($primary-color, 20%);
  border: 1px solid darken($primary-color,10%);
  padding: 0.5rem;
}

.text-label{
  font-size: 0.7rem;
  color: #667766;
}
.text-paper-accent{
  background-color: lighten($primary-color,10%);
}

.chipmenu{
  position:absolute;
  display:inline-block;
  right:10px;
  top:5px
}

.agenda{
  padding: 0px;
  margin: 0px;
  border: solid 1px blue;
}
.tableau{
  padding: 0px;
  margin: 5px;
  border: solid 1px blue;
  border-radius: 10px;
  background-color:#e8e1d0;

  .header {
    font-weight: bold;
    font-size: larger;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    border-bottom: solid 1px black;
  }
}

.detail-header{
  text-align:center;
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  text-transform: capitalize;
}
.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
  .message {
    font-size: 48px;
    line-height: 48px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .fa-spinner {
    text-align: center;
    display: inline-block;
    font-size: 72px;
    margin-top: 50px;
  }
}

.page-host {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@media print {
  .page-host {
    position: absolute;
    left: 10px;
    right: 0;
    top: 50px;
    bottom: 0;
    overflow-y: inherit;
    overflow-x: inherit;
  }
}

section {
  margin: 0 20px;
}

.navbar-nav li.loader {
  margin: 12px 24px 0 6px;
}

.fhir{
  .bold { font-weight: bold }
  .italics { font-style: italic }
  .underline { text-decoration: underline }
  .strikethrough { text-decoration: line-through }
  .left { text-align : left }
  .right { text-align : right }
  .center { text-align : center }
  .justify { text-align : justify }
  .border-left { border-left: 1px solid grey}
  .border-right { border-right: 1px solid grey }
  .border-top { border-top: 1px solid grey }
  .border-bottom { border-bottom: 1px solid grey }
  .arabic { list-style-type: decimal }
  .little-roman { list-style-type: lower-roman }
  .big-roman { list-style-type: upper-roman }
  .little-alpha { list-style-type: lower-alpha }
  .big-alpha { list-style-type: upper-alpha }
  .disc { list-style-type: disc }
  .circle { list-style-type : circle }
  .square { list-style-type: square }
  .nolist { list-style-type: none }
}
