//- This file is part of Webelexis. (c) 2015 by G. Weirich
.row
  .col-xs-12.col-sm-8.col-md-6.col-sm-offset-2.col-md-offset-3
    .panel.panel-warning
      .panel-heading
        h3.panel-title(data-bind="text: heading")
      .panel-body
        p(data-bind="text: body")
