//- This file is part of Webelexis. Copyright (c) 2015 by G. Weirich
.row
  .col-sm-12
    .panel-heading
      #agendaDatum(style="width:100%;" data-bind="datepicker: {eventID: 'datepicker', date: actDate}")
    .panel-body
      .row(data-bind="foreach: appointments")
        .col-xs-12
          div.agendabox(data-bind="css: displayClass, click: $parent.expand")
            span(data-bind="text: displayText")
            span(data-bind="text: reason" style="font-size:x-small")
          div(data-bind="if:expanded")
            div
              button.btn.btn-primary(data-bind="click: $parent.patdetail") Personalien
              button.btn.btn-primary(data-bind="click: $parent.labview") Laborwerte
              button.btn.btn-primary(data-bind="click: $parent.consview") Konsultation
              button.btn.btn-default Dokumente
            button.btn.btn-default(data-bind="click: $parent.collapse") Schliessen
                            
                            
