section
  .panel.panel-default.col-sm-6
    .panel-heading
      #agendaDatum(style="width:100%;")
        input(type="text" style="max-width:50%;text-align:center" data-bind="ko_datepicker_handler: " +
        "'selectedDate', value: now, datepickerOptions: {changeYear: true, dateFormat: 'dd.mm.yy', dayNamesMin: tage, monthNames: monate, monthNamesShort: monateKurz}" placeholder="tt.mm.jjjj")
  .panel-body

  .panel-footer
.p.small Footer

//
    <h2 data-bind="html: displayName"></h2>
    <div class="row-fluid">
        <label>Git it started when?</label>
        <input type="text" data-bind="ko_datepicker_handler: 'selectedDate'	, value: selectedDate" id='ko-date-picker' placeholder="mm/dd/yyyy">
        <p> This approach passes a string value for the model property that needs to be bound to the view.

            <span data-bind="text: selectedDate"></span>

    </div>
