//-
  /********************************************
   * This file is part of Webelexis           *
   * Copyright (c) 2019-2020 by G. Weirich         *
   * License and Terms see LICENSE            *
   ********************************************/
   //

extends layout

block content
    .container
        .card
            .card.header
                h2.card-title Fehler
            .card-body
                p= errmsg
                button.btn.btn-primary(onclick="window.location.replace('/termin/list')")  Zurück
