//-
  /********************************************
   * This file is part of Webelexis           *
   * Copyright (c) 2019 by G. Weirich         *
   * License and Terms see LICENSE            *
   ********************************************/
   //

extends layout

block content
    .container

         p Um mit diesem Tool einen Termin zu vereinbaren, müssen Sie Ihre E-Mail-Adresse und Ihr Geburtsdatum eingeben. Die Terminvergabe ist nur möglich, wenn Sie bei uns bereits als Patient angemeldet sind, und wenn wir Ihre E-Mail-Adresse genau so gespeichert haben, wie Sie sie hier angeben. Wenn das noch nicht der Fall ist, geben Sie uns bitte bei Ihrem nächsten Besuch die Mailadresse an.
         p Wenn Sie einen Termin vereinbaren, dann werden die hier eingegebenen Daten zusammen mit Ihrer IP-Adresse gespeichert. Diese Speicherung dient ausschliesslich dazu, Missbrauch zu vermeiden. Alle Daten werden nach der Konsultation automatisch gelöscht. Wir geben keinerlei Daten weiter; bereits die Tatsache, dass Sie einen Termin vereinbaren, unterliegt dem Arztgeheimnis.

         p(style="margin-top:20px;") Wenn Sie mit diesen Bedingungen nicht einverstanden sind, dürfen Sie dieses Tool nocht benutzen. Bitte vereinbaren Sie Ihren Termin in diesem Fall telefonisch.
         button.btn.my-4.btn-default(onclick="window.locaction.replace('/')") Zurück
