//-
  /********************************************
   * This file is part of Webelexis           *
   * Copyright (c) 2019-2020 by G. Weirich         *
   * License and Terms see LICENSE            *
   ********************************************/
   //
doctype html
html(lang="de")
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    - const sd = (sitedef ? sitedef : {name: "", address: "", phone:"", mail:""})
    h1.h1.text-center= sd.name
      .small= sd.address
      .small= "Tel.: "+sd.phone+", Mail: "+sd.mail
    block content
