<template>
  <div
    class="card"
    class.bind="clazz"
    dragover.trigger="dragOver($event)"
    dragleave.trigger="dragleave($event)"
    drop.trigger="dragDrop($event)"
  >
    <div class="card-header" style="position:relative">
      Verrechnung
      <div style="position:absolute;right:20px;top:2px;cursor:pointer;">
        <span click.delegate="billingsView()">CHF ${sum}</span>
      </div>
    </div>
    <div class="card-body" style="position:relative">
      <div
        class="menu"
        show.bind="showmenu"
        css="position:fixed;background-color:yellow;left:${menuleft}px;top:${menutop}px;"
      >
        <div class="menuitem" click.trigger="modifyText()">Text ändern</div>
        <div class="menuitem" click.delegate="modifyNumber()">Zahl ändern</div>
        <hr class="separator" />
        <div class="menuitem" click.trigger="remove()">Löschen</div>
        <div class="menuitem" click.trigger="removeAll()">Alle Löschen</div>
      </div>
      <div>
        <div
          class="entry"
          repeat.for="b of billings"
          click.delegate="toggleMenu(b,$index,$event)"
        >
          ${b.getLabel()}
        </div>
      </div>
    </div>
  </div>
</template>
