$fillcolor: #d3d3d3;

/* Buttons for termin actions */
.agendabutton {
  margin-right: 2px;
}

.termin {
  a {
    color: black;
  }
  background-color: $fillcolor;
  overflow: hidden;
  text-overflow: ellipsis;
}
