doctype html
html(lang="de")
  head
    meta(charset="utf-8")
    title= sitename
    link(rel="stylesheet" href="/a5styles.css")
  body
    heading.heading
      block doctitle
      span.topright [Datum.heute]
    main
      block content

