doctype html
html(lang="de")
  head
    meta(charset="utf-8")
    title= sitename
    link(rel="stylesheet" href="/a5styles.css")
  body
    heading.heading
      span(style="position:absolute;left:1em;top:4px;font-weight:bolder;")
        block doctitle
      span(style="position:absolute;right:1em;top:4px;font-weight:bolder;") [Datum.heute]
    main
      block content

