<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Praxis Webelexis</title>
  <link rel="stylesheet" href="/briefstyles.css">
 </head>
<body>
  <div class="heading">
    <span style="position: absolute;left: 1em;top: 4px; font-weight:bolder;">Rezept</span>
    <span style="position:absolute;right:1em;top: 4px; font-weight:bolder;">[Datum.heute]</span>
  </div>
  <div class="leftrow">
    <span style="font-size:16px;font-weight:bold;">Gerry Weirich</span><br />
    Facharzt für Innere Medizin<br />
    Rietstrasse 30<br />
    8200 Schaffhausen<br />
  </div>
  <div class="rightrow">
    Tel.: 052 624 40 77<br />
    Mail: praxis@weirich.ch<br />
    ZSR: G 0813.14<br />
    GLN: 7601000085924
  </div>
  <div class="payload">
    Rp.
    <div class="concern">
      [Patient.Bezeichnung1] [Patient.Bezeichnung2], [Patient.geburtsdatum]
    </div>

    <div class="contents">
      [liste]
      [zusatz]
    </div>
  </div>
</body>

</html>
