.row(if.bind="counts['documents']>0" style="position:relative;")
  require(from="../../components/document-view")
  .col.s12
    h4(t="dashboard.documents") Test
  .col.s12.m6(repeat.for="doc of documents.values")
    document-view(document.bind="doc")

.row(if.bind="counts['documents']==0")
    .col.s12
      <p>Keine Dokumente</p>
