.row(if.bind="counts['cons']>0" style="position:relative;")
  require(from="../../resources/fhir-resource-value-converter")
  require(from="../../resources/date-format-value-converter")
  require(from="../../components/encounter-view")
  .col.s12
    h4(t="dashboard.cons") Test
    .fixed-action-btn.horizontal(style="position:absolute;display:inline-block;right:10px;top:5px")
      a.red(md-button="floating: true" md-waves="color:light; circle:true;")
        i.material-icons menu
      ul
        li
          .black(md-button="floating:true;" click.delegate="lockToggle()")
            i.fa.fa-lock(if.bind="isLocked")
            i.fa.fa-unlock(if.bind="!isLocked")
        li
          .blue(md-button="floating:true;" if.bind="!isLocked" click.delegate="newCons()")
            i.fa.fa-plus
  .col.s12(repeat.for="enc of encounters.values")
    encounter-view(obj.bind="enc")
  .col.s12
    a.btn.accent(click.delegate="loadMore(encounters,encounterFactory)" t="more")
.row(if.bind="counts['cons']==0")
  .col.s12
    p(t="dashboard.nocons") nocons
