extends layout

block content
    .container

         p Bitte beachten Sie, dass eine Terminvergabe mit diesem Tool nur möglich ist, wenn Sie bereits mit diesen Daten in unserer Patientenkartei erfasst sind.
          p Wenn Sie 'Absenden' klicken, werden wir diese Terminanfrage zusammen mit den eingegebenen Daten speichern. 
            | Wir verwenden diese Daten ausschliesslich zum Verwalten des Termins und um Sie beispielsweise bei Verschiebungen
            | zu kontaktieren. Keinerlei Daten werden weitergegeben oder für andere Zwecke verwendet.