extends layout

block content

  h2 Fehlende Daten

  p Der Termin kann nur vereinbart werden, wenn Sie alle Felder ausfüllen. Bitte wählen Sie einen Termin aus, und geben Sie Ihre E-Mail Adresse und Ihr Geburtsdatum an.

  button.btn.btn-primary(onclick="window.location.replace('/termin/list')") Zurück
