extends layout

block content
  h2 Neues Passwort eingeben
  form(action="/chpwd" method="POST")
    input(type="hidden" name="uid" value=uid)
    input(type="hidden" name="uname" value=user)
    input(type="password" placeholder="Passwort" name="password")
    input(type="password" placeholder="wiederholen", name="password2")
    button(type="submit") Submit
