<template>
  <div css="overflow:auto;height:${h}" dragover.trigger="dragOver($event)" 
  drop.trigger="dragDrop($event)" ref="dropzone" dragleave.trigger="dragLeave($event)">
    <div class="compactlist" repeat.for="fm of list">
      <span if.bind="$index == opened  && modality==2">
        <input type="text" style="width:4em;" id="anzahl" value.bind="fm.anzahl" blur.trigger="save(fm)" 
          keydown.trigger="checkkey($event)"
          focus.bind="numberFocus">
      </span>
      <span class="noselect" click.trigger="expand($index)" draggable="true" dragstart.trigger="drag($event)" 
      id="prescription::${fm.id}">
        ${getLabel(fm) & signal:'update'}
      </span>
      <span if.bind="$index == opened & signal:'expand'">
        <input type="text" style="width:6em;" id="dosis" value.bind="fm.dosis" blur.trigger="save(fm)" 
        keydown.trigger="checkkey($event)"
          focus.bind="dosisFocus"><br />
        <input type="text" style="width: 32em;" id="remark" value.bind="fm.bemerkung" blur.trigger="save(fm)"
          keydown.trigger="checkkey($event)">
      </span>
    </div>
  </div>
</template>
