h3 Konsultation

.row
	.col-xs-12
		#edit(data-bind="richText: contents, valueUpdate: 'afterkeydown'")
		button.btn.btn-primary(data-bind="click: getText" style="margin: 2px") Speichern und zurück
		button.btn.btn-default(data-bind="click: cancel" style="margin: 2px") Zurück ohne Speichern
