h3 Konsultation

.row
	.col-xs-12
		#edit(data-bind="trumbowyg: {lang: 'de'}")
		button.btn.btn-primary(data-bind="click: getText") Speichern und zurück
		button.btn.btn-default(data-bind="click: cancel") Zurück ohne Speichern
