//- This file is part of Webelexis. Copyright (c) 2015 by G. Weirich
.row
    .col-sm-12
        .panel-heading
            .form-inline
                button.btn.fa.fa-chevron-left(data-bind="click: yesterday" data-toggle="tooltip" title="Zum vorherigen Tag gehen")
                button.btn.fa.fa-crosshairs(data-bind="click: today" data-toggle="tooltip" title="auf Heute gehen")
                button.btn.fa.fa-chevron-right(data-bind="click: tomorrow" data-toggle="tooltip" title="Zum nächsten Tag gehen")
                input(type="text" style="margin-left:10px;text-align:center;max-width:50%" data-toggle="tooltip" title="Klicken um den Kalender zu öffnen" data-bind="ko_datepicker_handler: " +
                "'selectedDate', value: now, datepickerOptions: {changeYear: true, dateFormat: 'dd.mm.yy', dayNamesMin: tage, monthNames: monate, monthNamesShort: monateKurz}")
                select(data-bind="options: resources, optionsText: 'display', value: resource, event: {change: loadAppointments}")
        .panel-body
            .row(data-bind="foreach: appointments")
                .col-xs-12
                    div.agendabox(data-bind="css: displayClass, click: $parent.expand")
                      span(data-bind="text: displayText")
                      span(data-bind="text: reason" style="font-size:x-small")
                    div(data-bind="if:expanded")
                      div  
                        button.btn.btn-primary(data-bind="click: $parent.patdetail") Personalien
                        button.btn.btn-primary(data-bind="click: $parent.labview") Laborwerte
                        button.btn.btn-primary(data-bind="click: $parent.consview") Konsultation
                        button.btn.btn-default Dokumente
                      button.btn.btn-default(data-bind="click: $parent.collapse") Schliessen
                            
                            
