.panel.panel.info
  .panel-heading
    h3.panel.title(data-bind="text: locale('verify_heading')")
  .panel-body
    p(data-bind="text: locale('verify_start')")
    p#msg(data-bind="text: proc")
    p#uid(data-bind="text:uid")
    p#vcode(data-bind="text:vcode")
    p#result(data-bind="text:result")
