//- This file is part of Webelexis, Copyright (c) 2015 by G. Weirich
- var colspec="col-xs-6"

form(role="form")
    #fields
        .row
        - var fields=["Vorname","Name","Geburtsdatum","Strasse", "Plz", "Ort","E-Mail","Telefon", "Mobil", "Krankenkasse", "Versicherungsnummer"]
        - for(var i=0;i<fields.length;i++)
            .form-group.col-md-4.col-sm-6.col-xs-12
                label(for=fields[i]) #{fields[i]}
                input.form-control(id=fields[i] type="text")
    button.btn.btn-default(type="submit") Absenden
        
    