<template>
  <require from="services/moment-to-string"></require>
  <div class="newappnt">
    <span t="appointment.new_for"></span> <a href="#" innerhtml.bind="patlabel" click.delegate="selectPatient()">?</a>
    <div class="form">
      <input class="form-input" type="text" value.bind="time">
      <input type="range" min.bind="termin.beginn" value.bind="slider" max.bind="em.getEndMinutes(termin)" step="5">
      <br /><textarea value.bind="termin.grund"></textarea>

      <select value.bind="terminTyp">
        <option repeat.for="tt of termintypen">${tt}</option>
      </select>
      <button class="btn btn-primary" click.delegate="newTermin()" t="dlg.create"> xy</button>
    </div>
  </div>
</template>
