<template>
  <require from="services/moment-to-string"></require>
  <div class="newappnt row">
    <div class="col-12">
      <p> <span t="appointment.new_for"></span><br />
        <a href="#" innerhtml.bind="patlabel" click.delegate="selectPatient()">?</a>
        <a href="#" t="appointment.orfreetext" click.delegate="enterText()">ff</a>
      </p>
    </div>
    <input class="col-12" type="text" value.bind="time">
    <input class="col-12" type="range" min.bind="termin.beginn" value.bind="slider" max.bind="em.getEndMinutes(termin)"
      step="5">
    <br /><textarea class="col-6" value.bind="termin.grund"></textarea><br />

    <select class="col-6" value.bind="terminTyp">
      <option repeat.for="tt of termintypen">${tt}</option>
    </select><br />
    <button class="btn btn-primary mt-2" click.delegate="newTermin()" t="dlg.create"> xy</button>
  </div>
</template>
