@import "../../stylevars";
@import "../../base";

.event {
  a {
    color: black;
  }
  background-color: $fillcolor;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
}

.newappnt {
  padding: 3px;
  margin: 3px;
  background-color: $form-background;
}
