@import "../../stylevars";
@import "../../base";

.event {
  a {
    color: black;
  }
  background-color: $fillcolor;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: small;
}

.newappnt {
  padding: 3px;
  margin-bottom: 8px;
  background-color: $form-background;
  a {
    color: blue;
    text-decoration: underline;
  }
  a:hover {
    color: red;
  }
}
