<template>
  <require from="components/searchfield"></require>

  <span class="detailcaption">Medikation</span>
  <div class="sheet">
    <div class="header">
      <searchfield t="[searchtext]select.search" result.two-way="searchexpr"></searchfield>
    </div>
    <div class="body" style="height:85vh">
      <div class="card" id="card_fixmedi" style="height:33%" dragover.trigger="dragOver($event)" drop.trigger="dragDrop($event)">
        <div class="card-header">
          Fixmedikation
        </div>
        <div class="card-body">
          <div style="overflow:auto;">
            <div class="compactlist" repeat.for="fm of fixmedi">
              <span draggable="true" dragstart.trigger="drag($event)" id="${fm.id}">
                ${pm.getLabel(fm)}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card" id="card_reservemedi" style="height:33%" dragover.trigger="dragOver($event)" drop.trigger="dragDrop($event)">
        <div class="card-header">
          Reservemedikation
        </div>
        <div class="card-body">
          <div style="overflow:auto;height:100px;">
            <div class="compactlist" repeat.for="fm of reservemedi">
              <span draggable="true" dragstart.trigger="drag($event)" id="${fm.id}">
                ${pm.getLabel(fm)} 
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card" id="card_symptommedi" style="height:33%" dragover.trigger="dragOver($event)" drop.trigger="dragDrop($event)">
        <div class="card-header">
          Nicht (mehr) regelmässig
        </div>
        <div class="card-body">
          <div style="overflow:auto;height:100px;">
            <div class="compactlist" repeat.for="fm of symptommedi">
              <span draggable="true" dragstart.trigger="drag($event)" id="${fm.id}">
                ${pm.getLabel(fm)} 
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
