<template>
  <require from="components/searchfield"></require>

  <span class="detailcaption">Medikation</span>
  <div class="sheet">
    <div class="header" ref="page_header">
      <div class="row">
        <div class="col">
          <searchfield t="[searchtext]select.search" result.two-way="searchexpr"></searchfield>
        </div>
        <div class="col">
          <img src="/trash.svg" dragover.trigger="dragTrash($event)" drop.trigger="dropTrash($event)">
          <img style="margin-left: 20px" src="/medical-prescription.svg" click.delegate="makePrescription()">
        </div>
      </div>
    </div>
    <div class="body" css="height:${total}px">
      <div class="row">
        <div class="card col" id="card_fixmedi" css="height:${part}px" dragover.trigger="dragOver($event)" drop.trigger="dragDrop($event)">
          <div class="card-header">
            Fixmedikation
          </div>
          <div class="card-body">
            <div css="overflow:auto;height:${client}px">
              <div class="compactlist" repeat.for="fm of fixmedi">
                <span draggable="true" dragstart.trigger="drag($event)" id="prescription::${fm.id}">
                  ${pm.getLabel(fm)}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="card col" id="card_reservemedi" css="height:${part}px" dragover.trigger="dragOver($event)" drop.trigger="dragDrop($event)">
          <div class="card-header">
            Reservemedikation
          </div>
          <div class="card-body" ref="reservemedi_comp">
            <div css="overflow:auto;height:${client}px">
              <div class="compactlist" repeat.for="fm of reservemedi">
                <span draggable="true" dragstart.trigger="drag($event)" id="prescription::${fm.id}">
                  ${pm.getLabel(fm)}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="card col" css="height:${part}px">
          <div class="card-header">
            Rezepte
          </div>
          <div class="card-body">
            b
          </div>
        </div>
        <div class="card col">
          <div class="card-header">
            Rezept
          </div>
          <div class="card-body">
            c
          </div>
        </div>
      </div>
      <div class="card" id="card_symptommedi" css="height:${part+10}px" dragover.trigger="dragOver($event)"
        drop.trigger="dragDrop($event)" ref="c_ganz">
        <div class="card-header" ref="c_header">
          Nicht (mehr) regelmässig
        </div>
        <div class="card-body" ref="symptomatic_comp">
          <ul css="overflow:auto;height:${client}px">
            <li class="compactlist" repeat.for="fm of symptommedi">
              <span draggable="true" dragstart.trigger="drag($event)" id="prescription::${fm.id}">
                ${pm.getLabel(fm)}
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
