<template>
  <require from="components/searchfield"></require>
  <span class="detailcaption">Leistungen</span>
  <div class="sheet">
    <div class="header">
      <searchfield placeholder="Position" result.two-way="position"></searchfield>
    </div>
    <div class="body" style="height:85vh;overflow:auto">
      <div class="compactlist" repeat.for="el of billables" click.delegate="select(el)">
        <span draggable="true" dragstart.trigger="drag($event)">${makeLabel(el)}</span></div>
    </div>
  </div>
</template>
