h2 Anmelden
Sie müssen sich zuerst im System anmelden, bevor Sie diese Funktionen aufrufen können.
form.form(data-bind="submit: dologin")
    .form-group
        label(for="username") Benutzername
        input.form-control#username(type="text" data-bind="value: uname")
    .form-group
        label(for="password") Passwort
        input.form-control#password(type="password" data-bine="value: pwd")
    button.btn.btn-default#loginbutton(type="submit" disabled="disabled") Warte auf Server...
    