doctype html
html(lang="de")
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="css/bootstrap.min.css")
        title(data-bind="text: router.currentPage().title") Webelexis
        script(src="app/requirejs.config-min.js")
        script(data-main="app/main-min.js" src="lib/require.js")
    body
        include ../includes/navbar.jade
              
    