doctype html
html(lang="de")
    head
        meta(charset="utf-8")
        title jQuery UI Datepicker - Default functionality
        link(rel="stylesheet" href="css/bootstrap.min.css")
    body
        form
            - var fields=["Vorname","Name","Geburtsdatum","Strasse", "Plz", "Ort"]
            - for(var i=0;i<fields.length;i++)
                .form-group
                    label(for=fields[i]) #{fields[i]}
                    input.form-control(id=fields[i] type="text")
    