<template>
  <require from="./newappnt"></require>
  <div class="col-2 termin" css.bind="statecss">
    ${getTimes()}
    <div if.bind="detailVisible && (!isStaticType())" style="width:60%" class="slideitem au-animate">
      <select value.bind="entry.obj.TerminTyp" style="width:6em;">
        <option repeat.for="tt of termintypen">${tt}</option>
      </select>
      <select value.bind="entry.obj.TerminStatus" style="width:6em;">
        <option repeat.for="tt of terminstaten">${tt}</option>
      </select>
      <div class="btn-group-vertical" role-"group">
        <button type="button" class="btn btn-outline-secondary btn-sm" t="appointment.shorten" click.delegate="shorten()"></button>
        <button type="button" class="btn btn-outline-secondary btn-sm" t="appointment.enlarge" click.delegate="enlarge()"></button>
        <button type="button" class="btn btn-outline-secondary btn-sm" t="appointment.delete" click.delegate="delete()"></button>
        
        
      </div>
    </div>
  </div>
  <div class="col text-truncate">
    <div class="termin text-truncate" css.bind="typecss">
      <a href="#" click.trigger="showDetail()" role="button">
        <span>
          ${getLabel()} (${entry.obj.TerminTyp}, ${entry.obj.TerminStatus}):
          ${entry.obj.Grund}
        </span>
      </a>
    </div>
    <div if.bind="detailVisible" class="slideitem au-animate" style="height:8em;">
      <div>
        <textarea value.bind="entry.obj.Grund" style="width:100%;height:5em;"
          blur.trigger="save()" hide.bind="isStaticType()"></textarea>
        <new-appointment termin.bind="entry" if.bind="isStaticType()"></new-appointment>
        <div>
          <div class="btn-group mb-2" role="group" aria-label="Termin Aktionen">
            <button type="button" class="btn btn-outline-primary btn-sm mr-2"
              click.delegate="select('stammdaten')" hide.bind="isStaticType()" t="nav.patdetails">
              Patient Details
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm mr-2"
              click.delegate="select('konsultationen')" hide.bind="isStaticType()" t="nav.encounters">
              Encounters
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm mr-2"
              click.delegate="select('dokumente','dokumentliste')" hide.bind="isStaticType()"
              t="nav.documents">
              Documents
            </button>
            <button type="button" class="btn btn-outline-primary btn-sm mr-2"
              click.delegate="select('labor')" hide.bind="isStaticType()" t="nav.lab">
              Labor
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
