<template>
  <require from="./encounter"></require>
  <require from="../endless-scroll"></require>
  <require from="../../services/date-format"></require>
  <require from="../searchfield"></require>
  <span class="detailcaption">Konsultationen</span>
  <div class="sheet">
    <div class="header">
      <div class="form-inline">
        <searchfield t="[placeholder]select.search"></searchfield>
        <select style="margin-left:20px;height:2em;">
          <option value="all" t="select.allcases">All cases</option>
          <option repeat.for="case of cases" value="case.id">${caseManager.getLabel(case)}</option>
        </select>
      </div>
    </div>
    <div class="body">
      <endless-scroll reload.delegate="fetchData($event)" limit.bind="65">
        <ul class="list-group">
          <li class="list-group-item" repeat.for="enc of encounters.data">
            <encounter obj.bind="enc"></encounter>
          </li>
        </ul>
      </endless-scroll>
    </div>
  </div>
</template>
