<template>
  <require from="./encounter"></require>
  <require from="../endless-scroll"></require>
  <require from="../../services/date-format"></require>
  <require from="../searchfield"></require>
  <require from="../newitem-btn"></require>
  <span class="detailcaption">Konsultationen</span>
  <div class="sheet">
    <div class="header">
      <div class="form-inline">
        <searchfield t="[searchtext]select.search"></searchfield>
        <select style="margin-left:20px;height:2em;" value.bind="actCase">
          <option model.bind="null" t="select.allcases">All cases</option>
          <option repeat.for="case of cases" model.bind="case">${caseManager.getLabel(case)}</option>
        </select>
        <new-item-button disabled.bind="actCase == null" click.delegate="newEncounter()"></new-item-button>
      </div>
    </div>
    <div class="body" style="height:85vh;">
      <endless-scroll reload.delegate="fetchData($event)" limit.bind="65">
        <ul class="list-group">
          <li class="list-group-item" repeat.for="enc of encounters.data">
            <encounter obj.bind="enc"></encounter>
          </li>
        </ul>
      </endless-scroll>
    </div>
  </div>
</template>
