<template>
  <require from="../../services/date-format"></require>
  <div class="card">
    <div class="card-header bg-light">
      <span>
        <i class="fas fa-circle" click.delegate="toggle()"></i>
      </span>
      <span>${finding.title}
        <span class="badge">${finding.measurements.length}</span>
      </span>
      <!-- div style="position:absolute;right:20px;top:5px;" click.delegate="menu()">
        <i class="fas fa-bars"></i>
      </div -->
      <div class="nav nav-pills navbar-right" style="position:absolute;right:20px;top:5px;">
        <div class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
            <i class="fas fa-bars"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="nav-item">select all</li>
            <li>deselect all</li>
            <li>delete</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body" if.bind="isOpen">
      <ul class="list-group">
        <li class="list-group-item" repeat.for="m of finding.measurements">
          <input type="checkbox">
          <span style="font-size:smaller;font-weight:bolder">${m.date | dateFormat:"date"}</span>
          ${displayLine(m.values)}</li>
      </ul>
    </div>
  </div>
</template>
