<template>
  <require from="../../services/date-format"></require>
  <div class="card">
    <div class="card-header bg-light">
      <span click.delegate="toggle()">${finding.title}
        <span class="badge badge-dark">${finding.measurements.length}</span>
      </span>
      <!-- Menu -->
      <div class="nav" style="position:absolute;right:20px;top:5px;">
        <div class="dropdown" if.bind="isOpen">
          <a data-toggle="dropdown" href="#" role="button">
            <i class="fas fa-bars"></i>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li class="dropdown-item menuitem" t="menu.add">add</li>
            <li class="dropdown-item menuitem" click.delegate="selectAll()" t="menu.selectall">select all</li>
            <li class="dropdown-item menuitem" click.delegate="deselectAll()" t="menu.deselectall"></li>
            <li class="dropdown-divider"></li>
            <li class="dropdown-item menuitem" t="menu.graph"></li>  
            <li class="dropdown-item menuitem" t="menu.export"></li>  
            <li class="dropdown-item menuitem" click.delegate="delete()" t="menu.delete"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body" if.bind="isOpen">
      <ul class="list-group">
        <li class="list-group-item" repeat.for="m of finding.measurements">
          <input type="checkbox" checked.bind="m.selected">
          <span style="font-size:smaller;font-weight:bolder">${m.date |
            dateFormat:"date"}</span>
          ${displayLine(m.values)}</li>
      </ul>
    </div>
  </div>
</template>
