template
  require(from="../../components/slot-view")
  .container
    .row
      .col.s12
        span ${dateDisplay}
    .row(repeat.for="val of slots.values" style="margin:0;padding:0")
        slot-view(obj.bind="val" large.bind="true")