template
  require(from="../../components/slot-view")
  require(from="components/floater.html")
  require(from="components/pickdate")
  .container.text-paper(style="padding-right:20px;padding-left:20px")
    floater(pos="right: 10px; top: 10px;")
    .row
      .col.s8.push-s2
        pickdate(pickerdate.bind="dateStandard")
    .row(repeat.for="val of slots.values" style="margin:0;padding:0")
      slot-view(obj.bind="val")
