template
  require(from="../../components/slot-view")
  require(from="components/floater.html")
  require(from="components/pickdate")
  require(from="components/pickresource")
  .container.text-paper(style="padding-right:20px;padding-left:20px")
    floater(pos="right: 10px; top: 10px;")
    .row
        pickresource.col.s6
        pickdate.col.s6(pickerdate.bind="dateStandard")
    .row(repeat.for="val of slots.values" style="margin:0;padding:0")
      slot-view(obj.bind="val" parent.bind="host")
