template
  require(from="../../components/slot-view")
  .container
    .row
      .col.s12
        span ${dateDisplay}
    .row
      p ${slots.values.length}
      .col.s12(repeat.for="val of slots.values")
        slot-view(obj.bind="val" large.bind="true")