mixin inp(id,v,title)
  label.col-2(for= id) #{title}
  input.form-control.col-10(id= id value.bind= v)

template
 require(from="components/commonviewer")
 div(css.bind="$parent.style")
    .row(style="height:85vh")
      common-viewer.col-4(cv_cfg.bind="vc")
      .col-8
        .form
          .form-row
            +inp('email','user.email','E-Mail')
          div(repeat.for="role of roles | keys") 
            p(innerhtml.bind="roles[role]")
              input(type="checkbox")

              