mixin inp(id,v,title)
  label.col-2(for= id) #{title}
  input.form-control.col-10(id= id value.bind= v)

template
 require(from="components/commonviewer")
 .sheet
    .header Userdetails
    .body(style="height:40vh;")
      .row
        common-viewer.col-4(cv_cfg.bind="vc" style="height:30vh;")
        .col-8
          .form(style="padding-top:20px;padding-right:20px;")
            .form-row
              +inp('email','user.email','E-Mail')
            .form-row
              label.col-2(for="roles") Rollen
              .col-10(id="roles")  
                div(style="margin-right:8px;padding-right:4px" repeat.for="role of allRoles | keys") 
                  input(type="checkbox" value.bind="role" checked.bind="hasrole[allRoles[role].id]")
                  span(style="padding-left:4px;" innerhtml.bind="allRoles[role].label")
            .button-group.mt-4      
              button.btn-default.btn-primary.mr-2(type="button" click.delegate="accept()") Ändern 
              button.btn-secondary(click.delegate="delete()") Löschen    
          