mixin inp(id,v,title)
  label.col-2(for= id) #{title}
  input.form-control.col-10(id= id value.bind= v)
template
  .sheet
    .header Kontodetails
    .body
      form
        .form-row
          +inp('email','user.email',"E-Mail")
        .form-row
          +inp('name','user.name',"Name")
        button(class="btn" value="ändern" click.trigger="update()") Speichern
