template
  .sheet(css.bind="$parent.style")
    .header Kontodetails
    .body
      form
        .form-row
          label.col-2(for="email") E-Mail
          input.form-control.col-10(id="email" value.bind="user.email") 
        .form-row
          label.col-2(for="name") Name
          input.form-control.col-10(id="name" value.bind="name")  

