mixin inp(id,v)
  input.form-control.col-10(id= id value.bind= v)
template
  .sheet(css.bind="$parent.style")
    .header Kontodetails
    .body
      form
        .form-row
          label.col-2(for="email") E-Mail
          +inp('email','user.email')
        .form-row
          label.col-2(for="name") Name
          +inp('name','user.name')
      
