mixin inp(id,v,title)
  label.col-2(for= id) #{title}
  input.form-control.col-10(readonly id= id value.bind= v)
template
  .sheet
    .header Kontodetails
    .body
      h2 Username: ${user.id}
      h2 Mandant:
      table
        tr
          td Kürzel
          td= user._Mandator.id
        tr
          td Name
          td= getLabel()  
