.rowc :nth-child(odd){
    background-color: #eee;
}

.rowc :nth-child(even){
    background-color: #fff;
}

.greyed{
    background-color: #eee;
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
}

.available{
    background-color: #aaffaa;
}

.occupied{
    background-color: #bb4444;
}