p.
    Wählen Sie bitte zunächst im Feld links oben das gewünschte
    Datum aus. Klicken Sie dann auf einen grünen Bereich, um einen
    Termin zu vereinbaren. Wenn kein grüner Bereich vorhanden ist,
    sind an diesem Tag keine Termine frei.
p.
    In dringenden Fällen, oder falls etwas nicht klappt, können
    Sie selbstverständlich weiterhin auch telefonisch Termine
    vereinbaren.
p Unser Telefon 0xx xxx xx xx wird zu folgenden Zeiten bedient:
table.table.table-bordered
    tr
        td(style="padding-right: 5px") Montag, Dienstag und Freitag
        td 08:00 bis 12:00 und 13:00 bis 17:00 Uhr
    tr
        td Mittwoch
        td 09:00 bis 13:00 und 14:00 bis 18:00 Uhr
    tr
        td Donnerstag
        td 08:00 bis 13:00 Uhr
    tr
        td Samstag
        td 09:00 bis 12:00 Uhr
        
