//- this file is part of Webelexis. Copyright (c) 2015 by G. Weirich
.list-group(data-bind="foreach: entries")
    a.list-group-item(data-bind='attr: {href: "#kons/"+id}')
      h4.list-group-item-heading(data-bind="text: date")
      p.list-group-item-text(data-bind="text: text")
