.listitem{
  padding-top: 0px;
  padding-bottom: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: smaller;
  color: black;
  cursor: pointer;
}

.highlight{
  @extend .listitem;
  background-color: yellow;
}
