/* Common vars for styles*/
$bordercolor: #1c63ef;
$fillcolor: #d3d3d3;
$captioncolor: #1c63ef;
$strokecolor: blue;
$highlightcolor: orange;
$form-background: aquamarine;
$border-radius: 5px;
$base-color: scale-color($form-background, $lightness: 60%);
