/* Animation for items that slide in and out */

.slideitem.au-enter-active {
  animation-name: slideDown;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  overflow: hidden;
}

.opening-add{
  animation: slideDown;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  overflow: hidden;
}

.closing-add{
  animation: slideUp;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  overflow: hidden;
}
@keyframes slideDown {
  from {
    max-height: 0px;
    opacity: 0
  }
  to {
    max-height: 100%;
    opacity:1.0;
  }
}

.slideitem.au-leave-active {
  animation-name: slideUp;
  animation-duration: 0.2s;
  overflow: hidden;
}

@keyframes slideUp {
  0% {
    max-height: 100%;
    opacity: 0.8;
  }
  50% {
     height:50%;
     opacity: 0.2; 
  }
  100% {
    height: 0px;
    opacity:0;
  }
}
