//- This file is üart of Webelexis. Copyright (c) 2015 by G. Weirich
.row
    .col-sm-12.col-md-6
        .panel(data-bind="foreach: appointments")
            .well.well-sm(data-bind="text: displayText")