//- This file is part of Webelexis, Copyright (c) 2015 by G. Weirich
div
  .navbar.navbar-fixed-top
    .navbar-inner
      ul.nav(data-bind="foreach: router.navigationModel")
        li(data-bind="css: { active: isActive }")
          a(data-bind="attr: { href: hash }, html: title")
      .loader.pull-right(data-bind="css: { active: router.isNavigating }")
        i.icon-spinner.icon-2x.icon-spin
  .container-fluid.page-host(data-bind="router: { transition:'entrance' }")
