//- This file is part of Webelexis, Copyright (c) 2015 by G. Weirich

.navbar.navbar-default
  .navbar-header
    button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#webelexis-main-collapsed")
      span.sr-only Menu erweitern
      span.fa.fa-ellipsis-v
    a.navbar-brand(href="http://www.webelexis.ch")
      div(data-bind="visible: connected")
        img.img(alt="webelexis" src="images/elexis_logo.png" style="height: 32px; width=32px;" data-toogle="tooltip" data-bind="attr: {title: locale('connected')}")
      div(data-bind="visible: connected()===false")
        img.img(alt="webelexis" src="images/elexis_logo_bw.png" style="height: 32px; width=32px;" data-toggle="tooltip" data-bind="attr: {title: locale('notconnected')}")
  .collapse.navbar-collapse#webelexis-main-collapsed
    ul.nav.navbar-nav#mainmenu(data-bind="foreach: router.navigationModel")
      li(data-bind="css: { active: isActive }")
        a(data-bind="attr: { href: hash }, html: title")
    .nav.navbar-nav.navbar-right(data-bind="visible: showLogin()")
      a(href="#login")#login
        span.navbar-text(data-bind="text: locale('login')")
          span.glyphicon.glyphicon-log-in
    ul.nav.navbar-nav.navbar-right(data-bind="visible: showLogout()")
      li.dropdown
        a.dropdown-toggle(href="#" data-toggle="dropdown" role="button")
          span#displayName(data-bind="text: locale('account')")
            span.caret
        ul.dropdown-menu(role="menu")
          li
            a(href="#" data-bind="click: doLogout, text: locale('logout')").navbar-text
          li
            a(href="#" data-bind="click: changePwd,text: locale('chpwd')").navbar-text

.container-fluid.page-host(style="z-index: -1" data-bind="router: { transition:'entrance' }")
