/* general styles */
.red {
	color : red;
}

.smaller {
	font-size : smaller;
}

.larger {
	font-size : larger;
}

.greyed {
	background-color : #eee;
	border-bottom    : 1px solid blue;
	border-top       : 1px solid blue;
}

.abstand {
	margin-left  : 10px;
	margin-right : 10px;
}

/* error messages of jQuery input validator */
label.error {
	color : red;
}

/* styles for ch-webelexis-agenda and ch-webelexis-detailagenda */
.available {
	background-color : #a7d2a7;
}

.occupied {
	background-color : #ff9494;
}

.user {
	background-color : #5f5;
}

.locked {
	background-color : black;
	color            : white;
}

/* entries in "detailagenda" */
div.agendabox {
	border-bottom-style: solid;
	border-width     : 1px;
	border-color     : black;
	min-height       : 2.5em;
}

/* Styles for ch-webelexis-labview */

div.labgroup {
	width      : 100%;
	min-height : 2em;
	background : #a8ccdb;
	border-top : 1px solid black;
}

th.labitem, td.labitem {
	text-align      : center;
	border          : 1px solid;
	border-collapse : collapse;
}

/* workaround for sparkline tooltips
 http://stackoverflow.com/questions/18894820/jquery-sparklines-and-twitter-bootstrap-3-tooltip-style-overrides
 */
.jqstooltip {
	width  : auto !important;
	height : auto !important;
}

/* Styles for consultation entries */
.bold {
	color       : blue;
	font-weight : bold;
}

.italic {
	color      : #2bc06a;
	font-style : italic;
}

.xref {
	background-color : #6fccd2;
}

.underline {
	text-decoration : underline;
}

/* Datepicker widget */
.datepicker {
	margin-left: 10px;
	text-align: center;
	max-width: 80%;
	background-color: #d9edf7;
}