doctype html
html(lang="de")
  head
    meta(charset="utf-8")
    title= sitename
    link(rel="stylesheet" href="/a4styles.css")
  body
    heading.heading
      p sitename
        br
        span= mandator.street+", "
        span= mandator.place
    main.contents
      block content

