<template>
  <div class="sheet" dragover.trigger="dragOver($event)" drop.trigger="dragDrop($event)">
    <div class="header" style="position:relative">
      Verrechnung
      <div style="position:absolute;right:20px;top:2px" click.delegate="addBilling()">
        <i class="fas fa-bars"></i>
      </div>

    </div>
    <div class="body">
      <div if.bind="displaybillings">
        <div class="entry" repeat.for="b of billings">
          ${b.getLabel()}
        </div>
      </div>
    </div>
  </div>
</template>
