template
  .sheet(dragover.trigger="dragOver($event)", drop.trigger="dragDrop($event)")
    .header(style="position:relative") Verrechnung
      div(style="position:absolute;right:20px;top:2px", click.delegate="addBilling()")
        i.fas.fa-bars
    </div>
    .body
      .entry(repeat.for="b of billings") ${b.getLabel()}
