<template>
  <require from="./flexform"></require>
  <span class="detailcaption">${cv_cfg.title ? cv_cfg.title : "Auswahl"}</span>
  <div class="header">
    <form role="form" submit.delegate="doFilter()">
      <div class="form-row" style="padding-right:10px;padding-left:10px;padding-top:4px;padding-bottom:4px;">
        <div repeat.for="field of cv_cfg.searchFields">
          <input type="text" class="form-input" id="${field.name+'_search'}" placeholder="${field.label}" value.bind="field.value" style="height:36px;" autocomplete="off">
        </div>
        <button type="submit" click.trigger="doFilter()" style="height:36px;">
          <i class="fa fa-search"></i>
        </button>
        <button type="button" class="btn" data-toggle="modal" data-target="#new-element-modal" if.bind="cv_cfg.createDef">
          <i class="fa fa-asterisk createbutton"></i>
        </button>
        <div class="form-row">
          <div style.bind="sw.value | imgSrc:sw" click.trigger="switchToggle(sw)" data-toggle="tooltip" title="${sw.label}" repeat.for="sw of cv_cfg.switches">
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="body">
    <p class.bind="item | selectionClass:selectedItem & signal:'selected'" repeat.for="item of items.data" click.trigger="select(item)">
      <span draggable="true" dragstart.trigger="drag($event)" id="${cv_cfg.dataType}::${item.id}" innerhtml.bind="cv_cfg.getLabel(item)"></span>
    </p>
  </div>

  <!-- New Item Dialog -->
  <div class="modal fade" id="new-element-modal" tabindex="-1" role="dialog" t="[aria-labelledby]dlg.newelem" if.bind="cv_cfg.createDef">
    <div class="modal-dialog" role="document" style="background-color:yellow;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Neu erstellen</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times</span>
          </button>
        </div>
        <div class="modal-body">
          <flex-form ff_cfg.bind="cv_cfg.createDef" lockable.one-time="false" entity.bind="newobj"></flex-form >
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" t="dlg.close">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" click.delegate="newElem()" t="dlg.create">Create</div>
        </div>
      </div>
    </div>
  </div>
</template>

