
$base-color: rgb(71, 170, 216);
$border-radius: 5px;

.debug{
  background-color: blue;
}

.current{
  background-color: aqua;
}

.stickers{
  border: blue 1px solid;
  background-color: cadetblue;
  padding: 2px;
}

.sticker_{
  padding-right: 2px;
  margin-right: 4px;
}

.stickynotes{
  background-color: scale-color($base-color, $lightness: 80%);
  opacity: 0.9;
  padding: 4px;
  font-size: smaller;
  border-style: inset;
  border-width: 2px;
  border-color: lighten($base-color,20%);
}

.encounters{
  background-color: lightgray;
  overflow-y: auto;
  height: 60vh;
}

.editor{
  background-color: lightblue;
  border-bottom-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  border-style: solid;
  border-color: blue;
  border-width: 4px;
}

.toolbar{
  background-color: darken($color: lightblue, $amount: 10%);
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}
