.debug{
  background-color: blue;
}

.current{
  background-color: aqua;
}

.stickers{
  border: blue 1px solid;
  background-color: cadetblue;
  padding: 2px;
}

.sticker_{
  padding-right: 2px;
  margin-right: 4px;
}

.stickynotes{
  background-color: cyan;
}
