<template>
    <div class="row">
        <div class="col s1">
            <i class="fa fa-chevron-circle-left fa-2x"></i>
        </div>
        <div class="col s6 m3">
            <!-- input md-datepicker="container: body; value.two-way: pickerDate; options.bind:advancedOptions;" type="date" placeholder="Datum" -->
            <input type="text" value.two-way="pickerDate">
        </div>
        <div class="col s1">
            <span class="fa fa-chevron-circle-right fa-2x"></span>
        </div>

    </div>
</template>
