<template>
  <div css="overflow:auto;height:${client}px">
    <div class="compactlist" repeat.for="fm of list">
      <span if.bind="expanded && type=='rp'">
        <input type="text" style="width:4em;" id="anzahl" value.bind="obj.ANZAHL" blur.trigger="save()" keydown.trigger="checkkey($event)"
          focus.bind="numberFocus">
      </span>
      <span class="noselect" click.trigger="expand()" draggable="true" dragstart.trigger="drag($event)" id="prescription::${obj.id}">
        ${getLabel(obj)}
      </span>
      <span if.bind="expanded">
        <input type="text" style="width:6em;" id="dosis" value.bind="obj.Dosis" blur.trigger="save()" keydown.trigger="checkkey($event)"
          focus.bind="dosisFocus"><br />
        <input type="text" style="width: 32em;" id="remark" value.bind="obj.Bemerkung" blur.trigger="save()"
          keydown.trigger="checkkey($event)">
      </span>
    </div>
  </div>
</template>
