template
  .input-group
    input.form-control(type="text",placeholder="${searchtext}" value="${val}", aria-label="${searchtext}")
    .input-group-append
      span.input-group-text
        i.fa.fa-search
        