template
  .input-group
    input.form-control(type="text",placeholder="${searchtext}" value.bind="val", aria-label="${searchtext}")
    .input-group-append(click.delegate="doSearch()")
      span.input-group-text
        i.fa.fa-search
        