<template>
  <require from="./personal-data"></require>
  <require from="./stickers"></require>
  <require from="./notes"></require>
  <require from="./encounters"></require>
  <require from="./medications"></require>
  <require from="./certificates"></require>
  <require from="./documents"></require>
  <require from="./collapse"></require>


  <div class="row">
    <div class="col-sm-12">
      <collapse actions.bind="persActions">
        <span slot="clptitle" t.bind="label"></span>
        <div slot="clpbody">
          <personal-data kontakt.bind="patient"></personal-data>
        </div>
      </collapse>
    </div>

    <div class="col-sm-12 col-md-6">
      <collapse actions.bind="konsActions">
        <span slot="clptitle" t="menu:konsultation">Kons</span>
        <div slot="clpbody">
          <encounters patient.bind="patient"></encounters>
        </div>
      </collapse>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="row">
        <div class="col-12">
          <notes patient.bind="patient"></notes>
        </div>
        <div class="col-12">
          <collapse>
            <span slot="clptitle" t="menu:medikation"></span>
            <div slot="clpbody">
              <medications patient.bind="patient"></medications>
            </div>
          </collapse>
        </div>
        <div class="col-12">
          <collapse>
            <span slot="clptitle" t="menu:zeugnisse"></span>
            <div slot="clpbody">
              <cerificates patient.bind="patient"></cerificates>
            </div>
          </collapse>
        </div>
        <div class="col-12">
          <collapse>
            <span slot="clptitle" t="menu:dokumente"></span>
            <div slot="clpbody">
              <documents patient.bind="patient"></documents>
            </div>
          </collapse>
        </div>
      </div>
    </div>

  </div>
</template>
