<template>
  <require from="./personal-data"></require>
  <require from="./stickers"></require>
  <require from="./notes"></require>
  <require from="./encounters"></require>
  <require from="./medications"></require>
  <require from="./certificates"></require>
  <require from="./documents"></require>
  <require from="./collapse"></require>


  <div class="row">
    <div class="col-sm-12">
      <div if.bind="kontaktdata">
        <personal-data kontakt.bind="patient"></personal-data>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <collapse>
        <div slot="clptitle" t="menu:konsultation">Kons</div>
        <div slot="clpbody">
          <encounters patient.bind="patient"></encounters>
        </div>
      </collapse>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="row">
        <div class="col-12">
          <notes patient.bind="patient"></notes>
        </div>
        <div class="col-12">
          <medications patient.bind="patient"></medications>
        </div>
        <div class="col-12">
          <cerificates patient.bind="patient"></cerificates>
        </div>
        <div class="col-12">
          <documents patient.bind="patient"></documents>
        </div>
      </div>
    </div>

  </div>
</template>
