<template>
  <require from="./personal-data"></require>
  <require from="./stickers"></require>
  <require from="./notes"></require>
  <require from="./encounters"></require>
  <require from="./medications"></require>
  <require from="./certificates"></require>
  <require from="./documents"></require>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <stickers kontakt.bind="patient"></stickers>
    </div>
    <div class="col-sm-12 col-md-6">
      <notes patient.bind="patient"></notes>
    </div>
    <div class="col-sm-12">
      <personal-data kontakt.bind="patient"></personal-data>
    </div>
  </div>
</template>
