<template>
  <require from="../resources/role-filter-value-converter"></require>
  <require from="./user-dropdown.css"></require>
  <div class="collapsible collapsible-accordion">
    <ul md-collapsible="accordion: true;">
      <li class="bold">
        <a md-button class="collapsible-header waves-effect waves-teal">${session.currentUser.username}</a>
        <div class="collapsible-body">
          <ul>
            <li repeat.for="link of links | roleFilter:session.currentUser.role">
              <a click.trigger="doAction(link)">${link.label}</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</template>
