//- This file is part of Webelexis, Copyright (c) 2015 by G. Weirich 
nav.navbar.navbar-default
  .navbar-header
    button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#webelexis-main-collapsed")
      span.sr-only Menu erweitern
      span.glyphicon.glyphicon-menu-hamburger
    a.navbar-brand(href="http://www.webelexis.ch")
      div(data-bind="visible: connected")
        img.img(alt="webelexis" src="img/elexis_logo.png" style="height: 32px; width=32px;" data-toogle="tooltip" data-bind="attr: {title: locale('connected')}")
      div(data-bind="visible: connected()===false")
        img.img(alt="webelexis" src="img/elexis_logo_bw.png" style="height: 32px; width=32px;" data-toggle="tooltip" data-bind="attr: {title: locale('notconnected')}")
  .collapse.navbar-collapse#webelexis-main-collapsed
    ul.nav.navbar-nav#mainmenu(data-bind="foreach: menuItems")
      li
        a(data-bind="attr: {href: baseUrl}, text: title")
    .nav.navbar-text(data-bind="click: changePwd")
    .nav.navbar-nav.navbar-right(data-bind="visible: showLogin")
      a(href="#login")#login
        span.navbar-text(data-bind="text: locale('login')")
          span.glyphicon.glyphicon-log-in
    ul.nav.navbar-nav.navbar-right(data-bind="visible: showLogout")
      li.dropdown
        a.dropdown-toggle(href="#" data-toggle="dropdown" role="button")
          span#displayName Konto
            span.caret
        ul.dropdown-menu(role="menu")
          li
            a(href="#" data-bind="click: doLogout, text: locale('logout')").navbar-text
          li
            a(href="#" data-bind="click: changePwd,text: locale('chpwd')").navbar-text

#chpwd(data-bind="dialog: {isOpen: pwdDialogOpen, 'title':locale('chpwdTitle')}")
  form.form(data-bind="submit: submitChangePwd")
    .form-group
      label.sr-only(for="oldpwd") Altes Passwort
      input(type="password" id="oldpwd" data-bind="attr: {placeholder: locale('chpwdOldpw')}")
    .form-group
      label.sr-only(for="newpwd") Neues Passwort
      input(type="password" id="newpwd" data-bind="attr: {placeholder: locale('chpwdNewpw')}")
    .form-group
      label.sr-only(for="newpwdrep") Neues Passwort (wiederholen)
      input(type="password" id="newpwdrep" data-bind="attr: {placeholder: locale('chpwdNewpwRep')}")
    button.btn.btn-default(type="submit" id="pwd_send" data-bind="text: locale('chpwdSubmit')")
    
                      
        
