extends layout.pug

block content
  form.row(action="/auth/local" method="POST")
    p= error
    .form-group
      label(for="username") E-Mail
      input.form-control(id="username" name="email" type="text")
    .form-group
      label(for="password") Passwort
      input.form-control(id="password" name="password" type="password")
    button.btn.btn-default(type="submit") Log In




