<template>
  <require from="../../forms/searchfield"></require>
  <div style="height:80vh;">
    <div class="btn-group mb-2" role="group" aria-label="calendar mode">
      <button type="button" class="btn btn-outline-secondary" t="adapters.month" click.delegate="display('month')"></button>
      <button type="button" class="btn btn-outline-secondary" t="adapters.week" click.delegate="display('week')"></button>
      <button type="button" class="btn btn-outline-secondary mr-2" t="adapters.day" click.delegate="display('day')"></button>

      <search-field searchtext="Suchen..." result.two-way="searchTriggered"></search-field>
    </div>
    <div ref="cal"></div>
  </div>
</template>
