//- This file is part of webelexis
    (c) by G. Weirich
nav.navbar.navbar-default
    .navbar-header
        button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#webelexis-main-collapsed")
            span.sr-only Menu erweitern
            span.glyphicon.glyphicon-menu-hamburger
        a.navbar-brand(href="http://github.com/rgwch/webelexis")
            img(alt="webelexis" src="img/elexis_logo.png" style="width: 30px; height: 30px")
    .collapse.navbar-collapse#webelexis-main-collapsed
        ul.nav.navbar-nav#mainmenu
            li
                a(href="#agenda") Agenda
                    span.sr-only#mainmenu_marker  (current)
            li
                a(href="#patlist") Patienten
            li
                a(href="#patid") Patient Detail
            li
                a(href="#kons") Konsultation
        button#navbar-button.btn.btn-default.navbar-btn(type="button") Anmelden
                    
                
     
                        
                        
       