extends layout

block contents
  #main
    img(src="webelexis_quer.png" alt="Webelexis Logo"  style="position:absolute;top:10px;left:20px;width:350px")

    .box(style="left:750px;top:100px;width:200px;")
      .title Informationen
      .body
        a(href="howto") Einführung
        br
        a(href="/movies.html") Kurzfilme
        br
        a(href="https://github.com/rgwch/webelexis") Quellcode
        br
        a(href="https://cloud.docker.com/repository/docker/rgwch/webelexis") Docker Hub

