doctype html

html(lang="de")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel="stylesheet" href="styles.css")
  body
    .container
      .row.justify-content-center
        .col
        .col.auto
          h1 Webelexis
          div.textbox Ergänzen Sie Elexis mit einem flinken, auch auf Mobilgeräten und über Mobilnetze bedienbaren Begleiter!
            p
              a(href="http://www.webelexis.ch:3030" target="_new") Demo (öffnet in neuem Tab)
