extends layout
block contents
  #main
    include partials/logo.pug

    .box(style="left:10px;top:90px;width:325px;")
      .title Was es ist
      .body
        p Eine Oberfläche für<em><a href="http://www.elexis.ch">Elexis</a></em>, die im Web-Browser läuft, und die parallel zum normalen Elexis benutzt werden kann.
        p Das Hauptgewicht liegt hier nicht bei der Flexibilität und der Vollständigkeit, sondern bei der Geschwindigkeit, auch über
          |  langsame Netzwerke, etwa Handy-Verbindungen.

    .box(style="left:700px;top:90px;width:200px;")
      .title Informationen
      .body
        a(href="rundgang.html") Einführung
        br
        a(href="movies.html") Kurzfilme
        br
        a(href="https://github.com/rgwch/webelexis") Quellcode Repository
        br
        a(href="https://hub.docker.com/r/rgwch/webelexis") Docker Container

    .box(style="left:700px;top:300px;width:200px")
      .title Weitere Links
      .body
        a(href="http://www.elexis.ch") Elexis
        br
        a(href="http://www.elexis.ch/oob/doc") Elexis OOB
        br
        a(href="http://www.elexis.ch/ungrad") Elexis Ungrad
        br
        a(href="http://www.elexis.info") Elexis.info

