extends layout

block contents
  #main
    img(src="webelexis_quer.png" alt="Webelexis Logo"  style="position:absolute;top:10px;left:20px;width:350px")

    .box(style="position:absolute;left:750px;top:100px;width:200px;")
      p.title Webelexis
      .body
        p lorem ipsum sit amet
