extends layout
block contents
    include partials/logo.pug
    h1 Einige kurze Filme zu Webelexis
    <iframe width="560" height="315" src="https://www.youtube.com/embed/eN2FyPkbNJM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe class="tscplayer_inline smart-player-embed-container-iframe embeddedObject" name="tsc_player" scrolling="no" frameborder="0" type="text/html" style="overflow:hidden;" src="https://www.screencast.com/users/gweirich/folders/Default/media/50f29658-cef2-4bdf-a599-010fff7c301c/embed" height="686" width="1024" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>