extends layout
block contents
    include partials/logo.pug
    h1 Einige kurze Filme zu Webelexis
    h2 Einstieg
    <iframe width="560" height="315" src="https://www.youtube.com/embed/eN2FyPkbNJM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    h2 Medikation
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ylgkfbbEv5E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    h2 Agenda
    <iframe width="560" height="315" src="https://www.youtube.com/embed/k0_RfUutVSc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    h2 Konsultation und Makros
    <iframe width="560" height="315" src="https://www.youtube.com/embed/uuUfb1l7gt0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
