extends layout

block contents
    span(style="position:absolute;left:800px;")
        include partials/logo.pug
    .container
      h1 Erste Schritte
      p(style="width:800px;") Wenn Sie sich mit Ihrem Benutzernamen und Passwort (Dieselben Angaben, die Sie auch bin Elexis verwenden) eingeloggt haben, sollten Sie diesen Bildschirm sehen:
      img(src="rundgang_01.png")

      p Dies ist die Hauptansicht von Webelexis. In der jetzigen Form ist sie für die Benutzung auf Computern oder Tablets optimiert. Links und rechts sind die folgenden Bedienelemente:
      ol
          li Patientenliste. Oben ist ein Suchfeld, in das Sie Teile des Vornamens, des Namens oder des Geburtsdatums eingeben können. Sie können es auch leer lassen und die Eingabetaste drücken. Die Namen in dieser Liste sind selbstverständlich alle frei erfunden. Jede Ähnlichkeit mit wirklichen Personen wäre rein zufällig.
          li Artikelliste
          li Eingehende Dokumente
          li Ausgehende Dokumente ("Briefe")
          li Befunde
          li Abrechnungspositionen
          li Konsultationen nach Datum auflisten
          li Zeugnisse und andere "rechtlich relevante" Dokumente
          li Personalien
          li Konsultationen
          li Briefvorlagen
          li Artikeldetails
          li Laborwerte
          li Medikationsfenster

      p In der jetzigen Version ist noch nicht alles implementiert, und die Buttons können sich auch noch ändern. Nehmen Sie dies einfach als Anhaltspunkt. Jetzt wollen wir eine Standard-Konsultation durchgehen. Wählen Sie links den ersten Patienten aus und gehen Sie rechts auf den Knopf 10, Konsultationen (Wenn Sie die Maus über einem Button ruhen lassen, wird nach einiger Zeit ein Tooltip die Bedeutung des Buttons zeigen).

      img(src="rundgang_02.png")

      p Um eine neue Konsultation zu erstellen, müssen Sie zunächst in der Liste bei [1] den Fall auswählen, dem sie zugeordnet werden soll. Durch den Fall wird festgelegt, welches Abrechnungssystem anzuwenden ist. Näheres zum Elexis-Fall-Konzept finden Sie im <a href="https://wiki.elexis.info/Deutsches_Handbuch_3.1#F.C3.A4lle" target="_new">Elexis Handbuch</a>. In Webelexis werden keine Fälle verwaltet, sondern nur ausgewählt. Eine neue Komsultation erstellen Sie mit dem grünen Stern-Button bei [2], welcher nur aktiv ist, wenn in [1] ein Fall ausgewählt wurde.
      p Das Schloss-Symbol [3] öffnet einen Konsultationseintrag zum Editieren.
      p Das lokale Menü bei [4] enthält Operationen, die auf die aktuelle Konsultation angewendet werden können (Datum ändern, löschen etc.)
      p Das Unterfenster bei [5] sammelt Verrechnungspositionen, deren Summe bei [6] angezeigt wird. Klick auf [6] öffnet links das Fenster mit den Abrechnungspositionen.
      p Im nächsten Schritt werden wir die Konsultation befüllen und verrechnen.
      a(href="rundgang2.html") Weiter-&gt;
