extends layout
block contents
  span(style="position:absolute;left:800px;")
    include partials/logo.pug
  .container
    h1 Erste Schritte - Teil 2
    p(style="width:800px;") Erstellen Sie eine neue Konsultations und tippen Sie kons und anschliessend die $-Taste. Dies ist ein sogenanntes Makro, welches in diesem Fall einen "SOBP" Rahmen erstellt
    img(src="rundgang_03.png")
    p Öffnen Sie die View mit den Verrechnungspositionen entweder mit dem Button [6] links, oder durch Anklicken des Betragsfeldes [6]. Tippen Sie im Suchfeld z.B. "kons" um entsprechende Positionen aufzulisten. Sie können auch nach Medikamenten, Artikeln oder anderen im System eingerichteten Verrechnungssystemen suchen. Ziehen Sie die zu verrechnende Position ins Feld unter dem Konsultationstext.
    p Falls Sie Abrechnungsblöcke definiert haben, finden Sie diese in der unteren Hälfte der Leistungen-View aufgelistet. Sie können dann entweder den ganzen Block oder einzelne Positionen daraus verrechnen. Sie können auch den Namen eines Abrechnungsblocks im Konsultationsfenster eingeben und die $-Taste drücken, um diesen Block zu verrechnen.
    img(src="rundgang_04.png")
    p Makros können in Webelexis nicht nur Textblöcke und Abrechnungsblöcke einsetzen, sondern auch Daten interpretieren. Geben Sie beispielsweise im Konsultationstext 120/80 ein und drücken Sie $-Taste. Sie sehen, dass Webelexis die Angabe als Blutdruck interpretiert. Analog können Sie 90/172$ eingeben und sehen, dass dies nun als Gewicht/Grösse interpretiert und gleich mit dem errechneten BMI dargestellt wird.
    p Derartige aus dem Konsultationstext extrahierte Daten werden in der Befunde-View gesammelt.
    img(src="rundgang_05.png")
    hr
    p im nächsten Teil werden einige Formulare gedruckt.
      a(href="rundgang3.html")  Weiter-&gt;

