extends layout
block contents
  span(style="position:absolute;left:800px;")
    include partials/logo.pug
  .container
    h1 Erste Schritte - Teil 3
    p(style="width:800px") Zum Abschluss des Rundgangs werden nun noch AUF-Zeugnisse und Rezepte drucken. Dazu wähle ich eine Patientin, bei der einige Arbeitsunfähigen vorhanden sind. Erstellen Sie eine neue Konsultation und schreiben Sie irgendwo: 'auf-2+3$'. Das ist wieder ein Makro, das besagt: "Arbeitsunfähikeit 2 Tage zurück bis 3 Tage ab heute". Man hätte auch 'auf+3$' schreiben können, dann wäre eine Arbeitsunfähigkeit ab heute für drei Tage erstellt worden.
    img(src="rundgang_06.png" width="1024px;")
    p Wenn Sie direkt auf das Druckesrsymbol in der Arbeitsunfähigkeiten-View klicken, wird ein Zeugnis mit der letzten AUF erstellt:
    img(src="rundgang_07.png" width="1024px;")
    p Wie das Druckdialog-Fenster geau aussieht, hängt vom Betriebssystem und dem Browser ab. Dieses hier ist Chromium unter Ubuntu Linux.
    p Die verwendete Druckvorlage kann selbstverständlich beliebig geändert werden (Webelexis-Serverseitig). Um eine andere als die letzte AUF zu wählen, kann man sie einfach markieren und dann das Druckersymbol wählen.
    p Wenn man mehrere Arbeitsunfähigkeits-Einträge selektiert, wird eine Liste der selektierten Arbeitsunfähigkeiten erstellt:
    img(src="rundgang_08.png" width="1024px;")
    hr
    p Um ein Rezept zu rucken, öffnen Sie die Rezepte-View:
    img(src="rundgang_09.png" width="1024px")
    
    p Damit sind wir am vorläufigen Ende des Rundgangs angekommen. Wie Sie sehen, ist Webelexis kein Ersatz für Elexis, sondern eine unkomplizierte Ergänzung. Da das Programm derzeit in permanenter Entwicklung ist, kann ess sein, dass sich schon einiges geändert hat, wenn Sie dies lesen - bei Interesse: Bleiben Sie dran.

