extends layout
block contents
  span(style="position:absolute;left:800px;")
    include partials/logo.pug
  .container
    h1.h1 Selbstbedienung

    p(style="width:800px") Wenn Sie irgendwann feststellen, dass Ihre MPA fast nur noch am Telefon hängt, dann wünschen Sie sich vielleicht eine Möglichkeit der "Selbstbedienung" bei der Terminvergabe. Auch das geht (natürlich) mit Webelexis.

    p Dazu ist es allerdings notwendig, den Zugriff aus dem Internet zu ermöglichen - was immer ein gewisses Sicherheitsrisiko ist. Der "Selbstbedienungs"-Zugang ist daher vom eigentlichen Webelexis deutlich getrennt. Standardmässig ist er unter der URL http://IhrServer:3030/termin/list erreichbar - In einem echten Szenario würden Sie das mit einem Reverse-Proxy unleiten lassen, so dass die Patienten eine  Adresse wie https://termine.ihre-praxis.ch eingeben müssen, um Termine einzutragen. Ich werde das an anderer Stelle noch zeigen. Hier gehe ich jetzt auf die Interna ein:

    h2 Einrichtung 

    p Die Konfiguration findet in <em>server/config/elexisdefaults.js</em> statt. Der Abschnitt 'schedule' enthält einige Parameter für die Selbstbedienung:

    ul.list-group
        li.list-group-item minDuration: Mindestzeit in Minuten, die ein freier Bereich lang sein muss, um für die Selbstbedienung in Frage zu kommen.
        li.list-group-item terminTyp: TerminTyp, der für Termine vergeben werden soll, die per Selbstbedienung erstellt werden. Es sollte ein Typ sein, der auch in der Agenda-Konfiguration in Elexis vorgesehen ist.
        li.list-group-item resource: Der Agenda-Bereich, der für die Selbstbedienung geöffnet werden soll. Das muss einer der Bereiche sein, die auch in der Elexis-Konfiguration der Agenda erstellt wurden. Die Selbstbedienung übernimmt zum Beispiel die Tagesarbeitszeiten bzw. -Sperrzeiten von diesem Bereich 
        li.list-group.item maxPerDay: maximale Zahl von Terminen pro Tag, die per Selbstbedienung angeboten werden. Es empfiehlt sich, nicht den ganzen Tag freizugeben, da dich Wahrscheinlichkeit, dass selbst eingetragene Termine nicht wahrgenommen werden, erfahrungsgemäss grösser ist, als bei telefonisch oder persönlich gegebenen Terminen. Wenn Sie nicht auf allzu vielen verpassten Terminen sitzen bleiben wollen, würde ich hier eine Zahl zwischen 2 und 6 eingeben.

    h2 Bedienung
    p Die Bedienung ist trivial. Sie werden mit folgender Seite begrüsst:

    img(src="selfservice_01.png")
    p Die Seite ist 'responsive', passt sich also auch an Mobil-Bildschirme so an, dass sie gut lesbar und bedienbar bleibt.
    p Um die Schwelle für Scherzbolde etwas höher zu setzen, muss man Mailadresse und Geburtsdatum eintragen. Nur wenn ein Patienteneintrag mit diesen Daten in Elexis vorhanden ist, kann der Termin eingetragen werden.
    p Mit dem Pfeilen neben dem Datum oben kann man jeweils einen Tag vor oder zurück blättern. Nach dem Absenden, und wenn die Patientendaten korrekt sind, kommt schon die Bestätigung:

    img(src="selfservice_02.png")
    p Das war's dann auch schon. Der Termin ist in der Elexis/Webelexis-Agenda eingetragen.

    a(href= base) Zurück