@import 'base';

#main{
    background-image: url('aerztin_am_laptop.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 1280px;
    height:1024px;
}