body{
  background-color: lightblue;
  background-repeat: no-repeat;
}

.container{
  margin-top:40px;
  background-color: aqua;
  background-image: url("img/aerztin_am_laptop.jpg");
  background-repeat: no-repeat;
  width: 849px;
  height: 566px;
}

h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 36pt;
  font-weight: 400;
  color: blue;
  text-align: right;
}

.textbox{
  position: relative;
  right: -150px;
  width: 200px;
  height: 100px;
}
