// This file is part of Webelexis. Copyright (c) 2015 by G. Weirich
section
  .col-md-6.col-md-offset-3.col.xs-12
    .panel.panel-default
      .panel-heading
        form.form.form-horizontal(data-bind="submit: sendQuery")
          p(data-i18n="pers.searchfield")
          input.abstand#queryString(type=text style="width: 80%" data-bind="value: queryInput")
          button.btn.btn-primary(type="submit" data-i18n="pers.search")
      .panel-body
        .list-group(data-bind="foreach: people")
          li.list-group-item(data-bind="text: text, css: css, click: $parent.openClose")
          div(data-bind="if: opened")
            div(data-bind="summary: {patient: entry}")
      .panel-footer
