// This file is part of Webelexis. Copyright (c) 2015 by G. Weirich
section
  .col-md-6.col-md-offset-3.col.xs-12
    .panel.panel-default
      .panel-heading
        form.form.form-horizontal(data-bind="submit: sendQuery")
          p(data-i18n="pers.searchfield")
          input.abstand#queryString(type=text style="width: 80%" data-bind="value: queryInput")
          button.btn.btn-primary(type="submit" data-i18n="pers.search")
      .panel-body
        .list-group(data-bind="foreach: people")
          li.list-group-item(data-bind="text: text, css: css, click: $parent.openClose")
          div(data-bind="if: opened")
            div(data-bind="summary: {patient: entry}")
        button.btn.btn-default(data-i18n="pers.newpat" data-bind="click: newPatOpenClose")
        form.form(data-bind="submit: addPatient, if: newPatOpen")
          .form-group-sm
            label(for="name" data-i18n="m.add.lastname")
            input.form-control(type="text" id="name" data-bind="value: newPatName")
          .form-group
            label(for="firstname" data-i18n="m.add.firstname")
            input.form-control(type="text" id="firstname" data-bind="value: newPatFirstName")
          .form-group
            label(for="dob" data-i18n="m.add.dob")
            input.form-control(type="text" id="dob" data-bind="value: newPatDob")
          button.btn.btn-primary(type="submit" data-i18n="global.send")
      .panel-footer
