// This file is part of Webelexis. Copyright (c) 2015 by G. Weirich
section
  .col-md-6.col-md-offset-3.col.xs-12
    .panel.panel-default
      .panel-heading
        form.form.form-horizontal(data-bind="submit: sendQuery")
          p Bitte geben Sie einen Teil des Vornamens, des Namens oder des Geburtsdatums ein.
          input.abstand#queryString(type=text style="width: 100%")
          button.btn.btn-primary(type="submit") Abfragen
      .panel-body
        .list-group(data-bind="foreach: people")
          a.list-group-item(data-bind="text: text, css: css, attr: {href: href}")
      .panel-footer
