.row
    .panel.panel-default.col-sm-6
        .panel-heading
            #agendaDatum
                span.glyphicon.glyphicon-chevron-left(data-bind="click: yesterday")
                //input#agendaDatum(data-bind="value: actDate, event: {blur: load}" type="date")
                input(type="text" data-bind="event: {changeDate: load}")
                span.glyphicon.glyphicon-chevron-right(data-bind="click: tomorrow")
        .panel-body
            .row#appntlist(data-bind="foreach: appointments")
                .col-xs-12.col-md-6
                    .well.well-sm(data-bind="text:displayText, css: displayClass, click: $parent.expand")
                    div(data-bind="if: expanded")
                        form.form(data-bind="submit: $parent.addAppointment")
                            .form-group
                                label.sr-only(for="patname") Personalien
                                input.form-control#patname(placeholder="Name, Vorname, Geburtsdatum" required)
                            .form-group
                                label.sr-only(for="patphone") Telefonnummer
                                input.form-control#patphone(placeholder="xxx xxx xx xx")
                            .form-group
                                label.sr-only(for="patmail") E-Mail
                                input.form-control#patmail(placholder="jemand@server.com" type="email" required)
                            button.btn.btn-primary(type="submit") Termin vereinbaren
                            button.btn.btn-default(data-bind="click: $parent.collapse") Abbrechen
        .panel-footer
            .p.small.
                Die Verwendung dieser Website geschieht ohne Gewähr. Für fehlerhaft übertragene Termine wird keine
                Haftung übernommen. 
    .panel.panel-info.col-sm-6
            .panel-heading
                h3.panel-title Termin direkt online eintragen
            .panel-body
                p.
                    Wählen Sie bitte zunächst im Feld links oben das gewünschte
                    Datum aus. Klicken Sie dann auf einen grünen Bereich, um einen
                    Termin zu vereinbaren. Wenn kein grüner Bereich vorhanden ist,
                    sind an diesem Tag keine Termine frei.
                p.
                    In dringenden Fällen, oder falls etwas nicht klappt, können
                    Sie selbstverständlich weiterhin auch telefonisch Termine
                    vereinbaren.
                p Unser Telefon 052 624 40 77 wird zu folgenden Zeiten bedient:
                table.table.table-bordered
                    tr
                        td(style="padding-right: 5px") Montag, Dienstag und Freitag
                        td 08:00 bis 12:00 und 13:00 bis 17:00 Uhr
                    tr
                        td Mittwoch
                        td 09:00 bis 13:00 und 14:00 bis 18:00 Uhr
                    tr
                        td Donnerstag
                        td 08:00 bis 13:00 Uhr
                    tr
                        td Samstag
                        td 09:00 bis 12:00 Uhr
            .panel-footer
                p.small.
                    Bitte beachten Sie, dass wir bei einer
                    Terminvereinbarung über diese Website Ihre IP-Adresse und weitere
                    Angaben speichern. Sämtliche Daten werden nach dem vereinbarten
                    Termin wieder gelöscht.