//- This file is part of webelexis, Copyright (c) 2015 by G. Weirich
.row
  .panel.panel-default.col-sm-6
    .panel-heading
      #agendaDatum(style="width:100%;")
        button.btn.glyphicon.glyphicon-circle-arrow-left(data-bind="click: yesterday, attr: {title: msg('yesterday')}" data-toggle="tooltip")
        button.btn.glyphicon.glyphicon-circle-arrow-down(data-bind="click: today, attr: {title: msg('today')}" data-toggle="tooltip")
        input.abstand(type="text" style="max-width:50%;text-align:center" data-bind='datepicker: {dateFormat: "dd.mm.yy", dayNamesMin: tage, monthNames: monate, monthNamesShort: monateKurz, onSelect: dateChanged}, value: now, attr: {title: msg("openCal")}' data-toggle="tooltip")
        button.btn.glyphicon.glyphicon-circle-arrow-right(data-bind="click: tomorrow, attr: {title: msg('tomorrow')}" data-toggle="tooltip")
    .panel-body
      .row#appntlist(data-bind="foreach: appointments")
        .col-xs-12.col-md-6
          .well.well-sm(data-bind="text:displayText, css: type, click: $parent.expand")
          div(data-bind="if: expanded")
            .alert.alert-info(role="alert" data-bind="visible: $parent.loggedIn().length==0 && type=='available'") 
              p
                  | Bitte 
                  a(href="#login") loggen Sie sich ein, 
                  | um einen Termin zu vereinbaren.
            .alert.alert-success(role="alert" data-bind="visible: $parent.loggedIn().length!=0 && type=='available'")
              form.form(data-bind="submit: $parent.addAppointment")
                p(data-bind="text: loggedInText")
                button.btn.btn-primary(type="submit" data-bind="text: $parent.msg('makeAppnt')")
            .alert.alert-warning(role="alert" data-bind="visible: type=='user' && $parent.loggedIn().length!=0")
              form.form(data-bind="submit: $parent.deleteAppointment")
                button.btn.btn-primary(type="submit" data-bind="text: $parent.msg('deleteAppnt')")
            button.btn.btn-default(data-bind="click: $parent.collapse, text: $parent.msg('cancel')")
    .panel-footer
      .p.small(data-bind="text: msg('disclaimer')")
  .panel.panel-info.col-sm-6
    .panel-heading
        h3.panel-title(data-bind="text:msg('rightHeading')") 
    .panel-body(data-bind="html: howto")
    .panel-footer
      p.small(data-bind="text:msg('rightFooter')")
    
