// This file is part of Webelexis. Copyright (c) 2015 by G. Weirich
section
  .panel.panel-default.col-sm-12
    .panel-heading
      form.form.form-horizontal
        p Bitte geben Sie einen Teil des Vornamens, des Namens oder des Geburtsdatums ein.
        input(type=text)

    .panel-body
    .panel-footer
