<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <!-- imported CSS are concatenated and added automatically -->
     <!-- Mobiscroll JS and CSS Includes -->
     <!-- link href="mobiscroll.javascript.min.css" rel="stylesheet" -->

  </head>
  <body aurelia-app="main">
    <noscript>
      <h1>Webelexis funktioniert nur mit Javascript. Bitte aktivieren</h1>
    </noscript>
    <div class="splash">
      <img src="/webelexis-anim.gif" style="max-width:510px;margin-left:auto;margin-right:auto;">
      <p>Bitte warten. Verbinde und lade Initalisierungsdaten...</p>
    </div>
  </body>
</html>
